.container {
    padding: 0 20px;
}

/* Table */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tbody {
    flex-direction: column-reverse;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* Button Div */

.btn-container {
    margin: 20px auto;
    width: 340px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 12px 30px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
}